
/*
 * fonts includes
 */

@font-face{
	font-family: pt-sans-caption;
	src: url(../fonts/PTC55F.ttf) format("truetype");
}

@font-face{
	font-family: aileron-light;
	src: url(../fonts/Aileron-Light.otf) format("truetype");
}

@font-face{
	font-family: aileron-ultralight;
	src: url(../fonts/AILERON-ULTRALIGHT.OTF) format("truetype");
}

@font-face{
	font-family: josefin-slab;
	src: url(../fonts/JosefinSlab-Regular.ttf) format("truetype");
}

@font-face{
	font-family: julius-sans-one;
	src: url(../fonts/JuliusSansOne-Regular.ttf) format("truetype");
}

@font-face{
	font-family: poiret-one;
	src: url(../fonts/PoiretOne-Regular.ttf) format("truetype");
}

@font-face{
	font-family: bondoluopeek;
	src: url(../fonts/BONDOLUOPEEK.TTF) format("truetype");
}

@font-face{
	font-family: niconne;
	src: url(../fonts/NICONNE-REGULAR.TTF) format("truetype");
}

@font-face{
	font-family: josefin-sans;
	src: url(../fonts/JOSEFINSANS-REGULAR.TTF) format("truetype");
}

@font-face{
	font-family: coda;
	src: url(../fonts/CODA-REGULAR.TTF) format("truetype");
}

/*
 * navigation menu
 */

.navbar-custom{
	background-color: #1e0d06 !important;
	border: none;
	border-radius: 0px;
}

.nav-custom>li>a{
	font-family: pt-sans-caption;
	color: #FFFFFF !important;
	font-size: 1.2em;
	border-top: 4px solid #1e0d06;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
}

.nav-custom>li.active-tab>a{
	border-top: 4px solid #FFFFFF;
}

.nav-custom>li>a:hover{
	border-top: 4px solid #FFFFFF;
}

.nav-custom>li>a.btn-sign-log{
	font-family: aileron-ultralight;
	border: 1px solid #fff;
	margin: 6px;
    font-weight: 700;
    position: relative;
    padding: 0;
    z-index: 1;
    overflow: hidden;
}

.nav-custom > li > a.btn-sign-log > span{
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	display: block;
	padding: 8px;
}

.nav-custom>li>a.btn-sign-log::before{
	position: absolute;
	top: 0;
	left: -75%;
	z-index: -1;
	padding: 8px;
	width: 100%;
	height: 100%;
	background: #fff;
	color: #e74c3c;
	content: attr(data-hover);
	-webkit-transition: -webkit-transform 0.3s;
	-moz-transition: -moz-transform 0.3s;
	transition: transform 0.3s;
	-webkit-transform: translateX(-25%);
}

.nav-custom>li>a.btn-sign-log:hover span ,
.nav-custom>li>a.btn-sign-log:focus span{
	-webkit-transform: translateX(75%);
	-moz-transform: translateX(75%);
	transform: translateX(75%);
}

.nav-custom > li > a.btn-sign-log:hover::before ,
.nav-custom > li > a.btn-sign-log:focus::before{
	-webkit-transform: translateX(75%);
	-moz-transform: translateX(75%);
	transform: translateX(75%);
}

/*
 * fullscreen video section
 */

video#bgvid {
	position: fixed;
	right: 0; 
	top: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -100;
	background: url(../images/polina.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.play-btn{
	width: 55px;
	height: 55px;
	padding: 14px 15px 13px 20px;
	background-color: #373737;
	border: 2px solid #FFFFFF;
	border-radius: 50%;
	margin: 0 auto;
	display: block;
}

.head-banner{
	font-family: julius-sans-one;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	margin-top: 250px;
}

.brdr-banner{
	width: 50%;
	margin: 0 auto;
}

.para-banner{
    font-family: josefin-slab;
    font-size: 1.6em;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}

.banner{
	width: 100%;
	padding-top: 30%;
}

/*
 * body section
 */

.bd-frst{
	background-color: #f4f6f7;
}

.middle-lnk{
	width: 60%;
	margin: 0 auto;
}

.nav-pills-custom > li > a{
	padding: 8px 25px;
	color: #1e0d06 !important;
	font-family: josefin-slab;
	font-size: 1.5em;
	margin: 25px 8px;
	background: transparent !important;
	position: relative;
}

.nav-pills-custom > li > a::before , 
.nav-pills-custom > li > a::after{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #1e0d06;
	content: '';
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
}

.nav-pills-custom > li > a::after{
	border-color: #e74c3c;
	opacity: 0;
	-webkit-transform: translateY(-7px) translateX(6px);
	-moz-transform: translateY(-7px) translateX(6px);
	transform: translateY(-7px) translateX(6px);
}

.nav-pills-custom > li > a:hover::before , 
.nav-pills-custom > li > a:focus::before{
	opacity: 0;
	-webkit-transform: translateY(5px) translateX(-5px);
	-moz-transform: translateY(5px) translateX(-5px);
	transform: translateY(5px) translateX(-5px);
}

.nav-pills-custom > li > a:hover::after , 
.nav-pills-custom > li > a:focus::after{
	opacity: 1;
	-webkit-transform: translateY(0px) translateX(0px);
	-moz-transform: translateY(0px) translateX(0px);
	transform: translateY(0px) translateX(0px);
}

.nav-pills-custom > li > a:hover{
	text-decoration: none;
}

.form-custom-need{
    width: 320px !important;
}

.effctimg{
 	border: 2px solid #e74c3c;
 	position: relative;
 	overflow: hidden;
}
 
.effctimg > img{
	-webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    vertical-align: middle;
}
 
.effctimg > img:hover{
	-webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}
 
.txt-container{
 	padding: 5px;
 	background-color: rgba(0,0,0,0.5);
 	position: absolute;
 	bottom: 0;
 	left: 0;
 	width: 100%;
 	display: none;
}
 
 .txt-container > p{
 	text-align: center;
 	font-family: poiret-one;
 	color: #fff;
 	font-size: 1.8em;
 	padding: 0;
}

.head-bd{
    font-family: aileron-ultralight;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
    padding-top: 25px;
}

.brdr-head{
    width: 60%;
    margin: 0 auto;
}

.bd-scnd{
	background-color: #FFFFFF;
	padding-bottom: 80px;
}

.mrgn-tp{
	margin-top: 30px;
}

.mrgn-btm{
	margin-bottom: 30px;
}

.fl-wid{
	width: 100%;
}

.blur-img{
	background: url(../images/blur2.jpg);
	padding-bottom: 25px;
	width: 100%;
	z-index:999;
	min-height: 700px;
	display: table;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.blur-hd{
	font-family: bondoluopeek;
	color: #ffffff;
	margin-top: 0;
	padding-top: 100px;
	padding-bottom: 15px;
}

.img-flip{
	position: relative;
}

.img-flip > img{
	-webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    vertical-align: middle;
}
/*
.img-flip > img:hover{
	-moz-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph;
    filter: fliph;
}
*/
.prof-sec{
	background-color: #FFFFFF;
	border-bottom: 2px solid #b8b8b8;
}

.txt-flip{
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.7);
	width: 100%;
	display: none;
}

.txt-flip p{
	color: #FFFFFF;
	padding: 2% 5%;
	font-family: josefin-slab;
	font-size: 1.3em;
}

.pad-btm{
	padding-bottom: 25px;
}

.hd-prof{
	font-family: josefin-sans;
	text-transform: uppercase;
	font-weight: bold;
	color: #e74c3c;
	margin-top: 80px;
	margin-bottom: 50px;
}

.para-prof{
	font-family: coda;
	font-size: 1.2em;
}

.prof-img-cont{
	padding: 5%;
	border: 1px solid #b8b8b8;
	margin: 15px;
	padding-bottom: 0;
	margin-top: 70px;
}

.name-prof{
    text-align: right;
	
}

.name-prof > span{
	font-family: josefin-slab;
	font-size: 1.5em;
	text-align: right;
}

.sign-prof{
	font-family: niconne;
	font-size: 1.2em;
	text-align: center;
}

.jb-aud{
	background: url(../images/blur1.jpg);
	padding-bottom: 25px;
	width: 100%;
	z-index:999;
	min-height: 700px;
	display: table;
	position: relative;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.jb-view{
	color: #FFFFFF;
	border: 1px solid #ffffff;
	padding: 4px;
	display: block;
	width: 85px;
	margin: 0 auto;
	text-align: center;
	font-family: poiret-one;
	text-transform: capitalize;
	font-weight: bold;
	font-size: 1.5em;
}

.jb-view:hover{
	text-decoration: none;
	color: #FFFFFF;
}

.carousel-control-custom{
	position: absolute;
	bottom: 0  !important;
	/* left: 0 !important; */
	z-index: 15;
	width: 5%;
	padding-left: 0;
	/* margin-left: -30%; */
	text-align: center;
	list-style: none;
	height: 35px;
	top: 100%;
	background-image: none !important;
	opacity: 1;
}

.lt-carousel{
    background-image: none !important;
    background-repeat: no-repeat !important;
    left: 45%;
}

.rt-carousel{
    background: none;
	background-image: none !important;
    right: 45% !important;
}

.recruiter{
	background-color: #FFFFFF;
}

.recruiter-hd{
	font-family: bondoluopeek;
	color: #000000;
	/* margin-top: 0; */
	/* padding-top: 30px; */
	padding-bottom: 15px;
	text-align: center;
}

.recruiter-para{
	font-family: josefin-slab;
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
}

.brdr-recruiter{
	border: 1px solid #E74C3C;
}

.sld-recruiter{
	width: 25%;
	margin: 0 auto;
}

.control-recruiter{
	background-image: none !important;
}

.hd-carousel-recruiter{
	font-family: josefin-sans;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

.para-carousel-recruiter{
    font-size: 1.3em;
    text-align: center;
}

.lnk-carousel{
	display: block;
	text-align: center;
	margin: 20px auto;
	height: 45px;
	line-height: 43px;
	position: relative;
	width: 150px;
	background-color: #E74C3C;
	color: #ffffff;
	font-family: poiret-one;
	font-weight: bold;
	font-size: 1.5em;
}

.lnk-carousel:hover{
	text-decoration: none;
}

/* Effect 21: borders slight translate */
.cl-effect-21 a {
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.cl-effect-21 a::before,
.cl-effect-21 a::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #000000;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: opacity 0.3s, -moz-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::before {
	top: 0;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}

.cl-effect-21 a::after {
	bottom: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	transform: translateY(10px);
}

.cl-effect-21 a:hover,
.cl-effect-21 a:focus {
	color: #FFFFFF;
}

.cl-effect-21 a:hover::before,
.cl-effect-21 a:focus::before,
.cl-effect-21 a:hover::after,
.cl-effect-21 a:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	transform: translateY(0px);
}

.lnk-carousel:hover::before , 
.lnk-carousel:focus::before{
	left: 0%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.lnk-carousel:hover::after , 
.lnk-carousel:focus::after{
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}

.mrgn-nul{
	margin: 0;
}

.pad-nul{
	padding: 0px;
}

.zm-out{
    position: relative;
    overflow: hidden;
}

.zm-out > img{
	-webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    vertical-align: middle;
    opacity: 1;
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -moz-transform:scale(1.5); /* Firefox */
    -ms-transform:scale(1.5); /* IE 9 */
    -o-transform:scale(1.5); /* Opera */
    transform:scale(1.5);
}

.zm-out:hover > img{
	-webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
    transform:scale(1);
    opacity: 0.4;
}

.zm-out > .zm-out-cont{
    opacity: 0;
}

.zm-out:hover > .zm-out-cont{
    opacity: 1;
}

.zm-out > img:hover{
	-webkit-transform:scale(1); /* Safari and Chrome */
    -moz-transform:scale(1); /* Firefox */
    -ms-transform:scale(1); /* IE 9 */
    -o-transform:scale(1); /* Opera */
    transform:scale(1);
    
	opacity: 0.4;
}
.zm-out-cont{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    -ms-transition: all .8s ease;
    -o-transition: all .8s ease;
    transition: all .8s ease;
    vertical-align: middle;
    padding: 10%;
}

.zm-out-cont > h3{
	font-family: josefin-slab;
	font-weight: bold;
	color: #000000;
	margin-top: 90%;
}

.zm-out-cont > p{
	font-family: niconne;
	color: #E74C3C;
	font-size: 1.5em;
}

.icon-arrow-right:before {
	content: "\2192";
}

.btn-custom{
	display: block;
	border: none;
	background: #E74C3C;
	padding: 11px 20px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	color: #FFFFFF;
	text-align: center;
	font-size: 1.5em;
	font-weight: 300;
	width: 90%;
	margin: 20px auto;
}

.btn-custom::after{
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-custom:hover{
	text-decoration: none;
	color: #FFFFFF;
}

.btn-4 {
	/* border-radius: 50px; */
	border: 2px solid #fff;
	color: #fff;
	overflow: hidden;
}

.btn-4:active {
	border-color: #E74C3C;
	color: #E74C3C;
}

.btn-4:hover {
	background: #E74C3C;
}

.btn-4::before {
	position: absolute;
	height: 100%;
	line-height: 1.2;
	color: #fff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	font-weight: bold;
	font-size: 2em;
}

.btn-4:active::before {
	color: #E74C3C;
}

/* Button 4a */
.btn-4a::before {
	left: 130%;
	top: 0;
}

.btn-4a:hover::before {
	left: 80%;
}

.copyright{
	color: #FFFFFF;
	font-size: 1.3em;
	margin-top: 25px;
	margin-bottom: 25px;
}

footer{
	background-color: #282828;
}

.input-group-custom{
	margin-top: 20px;
}

.form-custom:focus{
	border-color: rgba(231, 76, 60, 1);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(231, 76, 60, 0.6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(231, 76, 60, 0.6);
}

.custom-addon{
	padding: 0;
	background-color: #E74C3C;
	border: none;
}

.custom-addon > button.btn-link{
	text-decoration: none;
	padding: 0 10px;
	margin: 0;
	color: #fff;
}

.custom-addon > button.btn-link:hover{
	text-decoration: none;
	color: #fff;
}

.nav-footer{
	
    width: 80%;
    margin: 0 auto;
    margin-top: 25px;
}

.nav-footer>ul{
    margin: 0;
	
    padding: 0;
    display: inline-block;
}

.nav-footer>ul>li{
    list-style-type: none;
	
    float: left;
}

.nav-footer>ul>li>a{
    color: #fff;
	
    display: block;
    padding: 10px;
    border-left: 1px solid;
    border-right: 1px solid;
    -webkit-transition: all 0.6s;  
    -moz-transition: all 0.6s;  
    transition: all 0.6s;
}

.nav-footer>ul>li>a:hover{
    text-decoration: none;
	
    background-color: #E74C3C;
}

.social{
	display: inline-block;
	width: 100%;
}

.social>a{
	display: block;
	float: left;
	width: 25px;
	margin: 10px 2px;
}

.social>a>img{
	width: 100%;
}

.div-arrow-section{
	background-color: #FFFFFF;
}

.ar{
	display: block;
	text-decoration: none;
	color: #FFFFFF;
	padding: 15px;
	margin: 50px auto;
	border-radius: 6px;
	padding-top: 10px;
}

.ar:hover{
	text-decoration: none;
	color: #FFFFFF;
}

.frst-ar{
	background-color: #E74C3C;
	position: relative;
}

.scnd-ar{
	background-color: #1abc9c;
	position: relative;
}

.thrd-ar{
	background-color: #3498db;
	position: relative;
}

.ar>h3{
    font-family: josefin-slab;
    font-weight: bold;
    text-align: center;
}

.para-txt{
    font-family: aileron-light;
    text-align: center;
    float: left;
    width: 50%;
    font-size: 1.3em;
}

.brdr-side{
	border-bottom: 2px solid #fff;
	float: left;
	margin-top: 12px;
	width: 25%;
}

.frst-ar::after{
	position: absolute;
	content: "";
	top: 100%;
	left: 60%;
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 0px solid transparent;
	border-top: 20px solid #E74C3C;
}

.scnd-ar::after{
	position: absolute;
	content: "";
	top: 100%;
	left: 60%;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 0px solid transparent;
	border-top: 20px solid #1abc9c;
}

.thrd-ar::after{
	position: absolute;
	content: "";
	top: 100%;
	left: 60%;
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 0px solid transparent;
	border-top: 20px solid #3498db;
}
